body {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  height: auto;
  margin: 0 100px;
}

nav {
  display: flex;
  height: 90px;
  align-items: center;
}

.logo {
  margin-left: 0;
}

.header-photographer {
  background-color: #FAFAFA;
  height: 313px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}
.header-photographer__section-info {
  display: flex;
  flex-direction: column;
  gap: 1.2em;
}
.header-photographer__section-info--title {
  color: #D3573C;
  font-size: 4em;
  font-weight: 400;
}
.header-photographer__section-info--location {
  font-size: 1.5em;
  color: #901C1C;
}
.header-photographer__section-info--tagline {
  font-size: 1.125em;
  color: black;
}

.brown-button {
  font-size: 1.15em;
  font-weight: 700;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  background-color: #901C1C;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.brown-button:hover, .brown-button:focus {
  background-color: #db8876;
  color: black;
}
.brown-button:hover.submit, .brown-button:focus.submit {
  border: 2px solid white;
}

.article__img--rounded {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  background: transparent;
  overflow: clip;
  display: flex;
  justify-content: center;
  position: relative;
  box-sizing: content-box;
}

.article__img {
  height: 358px;
  position: absolute;
  top: -50px;
  -o-object-fit: contain;
     object-fit: contain;
}
.article__img--square {
  height: 200px;
  position: absolute;
  top: 0px;
  -o-object-fit: contain;
     object-fit: contain;
}

.section-filter {
  display: flex;
  flex-direction: row;
  margin-top: 1em;
}

#filter-opened, #filter-closed {
  height: 9.88px;
  width: 16px;
  position: absolute;
  top: 30px;
  right: 15px;
}

#filter-opened {
  display: none;
}

.filter-select {
  cursor: pointer;
  position: relative;
  background-color: #901C1C;
  color: white;
  width: 170px;
  height: 70px;
  display: flex;
  align-items: center;
  font-size: 1.125em;
  font-weight: 900;
  border-radius: 5px;
}
.filter-select:hover, .filter-select:focus {
  border-radius: 5px;
  color: black;
  background-color: #db8876;
  outline: none;
  outline-offset: 0px;
}

.filter-label {
  display: flex;
  align-items: center;
  margin-right: 10px;
  font-size: 1.125em;
  font-weight: 700;
}

.filter-option-list {
  display: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: white;
  background-color: #901C1C;
  height: 210px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  width: 170px;
}

.filter-interline {
  margin: 0 10px;
  height: 1px;
  width: 150px;
  background-color: white;
}

.filter-option-list li {
  width: 170px;
  height: 70px;
  display: flex;
  align-items: center;
  padding: 8px 20px;
  cursor: pointer;
}
.filter-option-list li:hover, .filter-option-list li:focus {
  color: black;
  background-color: #db8876;
  outline: none;
  outline-offset: 0px;
  border-radius: 0px;
}

#filter {
  width: 170px;
  height: 70px;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 8px 20px;
}
#filter:hover, #filter:focus {
  color: black;
  border-radius: 5px;
  background-color: #db8876;
}

.section-medias {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  -moz-column-gap: 9vw;
       column-gap: 9vw;
  row-gap: 2vh;
  padding-top: 1rem;
  padding-bottom: 66px;
}

.article-media {
  display: flex;
  flex-direction: column;
  gap: 0;
  width: 350px;
  height: 351px;
  border-radius: 16px;
  box-sizing: border-box;
  overflow: hidden;
}
.article-media__img, .article-media__vid {
  width: 350px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
.article-media__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 5px 0;
}
.article-media__content--title {
  padding: 5px;
  margin: 0;
  font-size: 1.35em;
  font-weight: 400;
  color: #901C1C;
}
.article-media__content--likes {
  display: flex;
  cursor: pointer;
  gap: 1em;
  padding-right: 9px;
}
.article-media__content--likes-h3 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #901C1C;
}

.section-price {
  position: fixed;
  right: 100px;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 376px;
  height: 50px;
  border-radius: 5px 5px 0 0;
  background-color: #db8876;
  padding: 8px 16px;
  font-size: 1.25em;
  font-weight: 500;
  align-items: center;
  box-sizing: border-box;
}
.section-price__content--likes {
  display: flex;
  gap: 0.5em;
}/*# sourceMappingURL=photographer.css.map */