/*.......Accessibility......*/
/* Hide elements visually but keep them accessible to screen readers */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

:focus {
  outline: 5px solid rgba(82, 214, 244, 0.5);
  outline-offset: 4px;
  border-radius: 15px;
  background-color: #FAFAFA;
}

/*.......general......*/
body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
  padding: 0;
  font-style: normal;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

h1 {
  color: #901C1C;
  margin-right: 100px;
}

.logo {
  height: 50px;
  margin-left: 100px;
}

/*.......Photographer section......*/
.photographer-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
}

.photographer-section article a {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
}
.photographer-section article a .article__title {
  color: #D3573C;
  font-size: 2.25em;
  font-weight: 400;
  margin-top: 16px;
  margin-bottom: 5px;
  white-space: nowrap;
}
.photographer-section article a .article__img--rounded {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  background: transparent;
  overflow: clip;
  display: flex;
  justify-content: center;
  position: relative;
  box-sizing: content-box;
}
.photographer-section article a .article__img {
  height: 358px;
  position: absolute;
  top: -50px;
  -o-object-fit: contain;
     object-fit: contain;
}
.photographer-section article a .article__img--square {
  height: 200px;
  position: absolute;
  top: 0px;
  -o-object-fit: contain;
     object-fit: contain;
}

.article__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.article__info--location {
  font-size: 1.06em;
  color: #901C1C;
  margin: 0;
}
.article__info--tagline {
  font-size: 0.75em;
  color: black;
  margin: 0;
}
.article__info--price {
  font-size: 0.69em;
  color: #757575;
  margin: 0;
}

/****** page photographer ***********/
body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
  padding: 0;
  font-style: normal;
  height: auto;
}

#contact-modal {
  display: none;
}

.header-photographer {
  background-color: #FAFAFA;
  height: 313px;
  margin: 0 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}
.header-photographer__section-info {
  display: flex;
  flex-direction: column;
  gap: 1.2em;
  width: auto;
}
.header-photographer__section-info--title {
  color: #D3573C;
  font-size: 4em;
  font-weight: 400;
  margin-top: -10%;
  margin-bottom: -5%;
}
.header-photographer__section-info--location {
  font-size: 1.5em;
  color: #901C1C;
  margin: 0;
}
.header-photographer__section-info--tagline {
  font-size: 1.125em;
  color: black;
  margin: 0;
}

.contact-button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
}

.article__img--rounded {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  background: transparent;
  overflow: clip;
  display: flex;
  justify-content: center;
  position: relative;
  box-sizing: content-box;
}

.article__img {
  height: 358px;
  position: absolute;
  top: -50px;
  -o-object-fit: contain;
     object-fit: contain;
}
.article__img--square {
  height: 200px;
  position: absolute;
  top: 0px;
  -o-object-fit: contain;
     object-fit: contain;
}

#main {
  margin: 0 100px;
}

.section-medias {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  row-gap: 1rem;
  padding-top: 1rem;
}

.article-media {
  display: flex;
  flex-direction: column;
  gap: 0;
  width: 350px;
  height: 351px;
  border-radius: 25px;
  white-space: nowrap;
  overflow: hidden;
}
.article-media__img, .article-media__vid {
  width: 350px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
.article-media__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 5px 0;
}
.article-media__content--title {
  font-size: 1.5rem;
  font-weight: 400;
  color: #D3573C;
}
.article-media__content--likes {
  display: flex;
  gap: 1em;
}
.article-media__content--likes-h3 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #D3573C;
}

/****** modal ***********/
.modal {
  border-radius: 5px;
  background-color: #DB8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312E2E;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}/*# sourceMappingURL=style.css.map */