@import "./variables.scss";

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
  padding: 0;
  font-style: normal;
  height: auto;
}

#contact-modal {
  display: none;
}

.header-photographer {
  background-color: $main-bg-color;
  height: 313px;
  margin: 0 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
    &__section-info {
        display: flex;
        flex-direction: column;
        gap: 1.2em;
        width: auto;
        //   align-items: center;
        &--title {
            color: $lightbrown;
            font-size: 4em; //64px
            font-weight: 400;
            margin-top: -10%;
            margin-bottom: -5%;
        }
        &--location {
            font-size: 1.5em; //was 24px
            color: $darkbrown;
            margin: 0;
        }
        &--tagline {
            font-size: 1.125em; //was 18px
            color: black;
            margin: 0;
       }
    }
}

.contact-button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: $darkbrown;
  border-radius: 5px;
  cursor: pointer;
  // margin: 50px;
}

//photographer portrait
.article__img--rounded {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  background: transparent;
  overflow: clip;
  display: flex;
  justify-content: center;
  position: relative;
  box-sizing: content-box;
}
.article__img {
  height: 358px;
  position: absolute;
  top: -50px;
  object-fit: contain;
  &--square {
    height: 200px;
    position: absolute;
    top: 0px;
    object-fit: contain;
  }
}

//media
#main {
  margin: 0 100px;
}
.section-medias {
  // display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  row-gap: 1rem;
  padding-top: 1rem;
}
.article-media {
  display: flex;
  flex-direction: column;
  gap: 0;
  width: 350px;
  height: 351px;
  border-radius: 25px;
  white-space: nowrap;
  overflow: hidden;
  &__img,&__vid{
    width: 350px;
    height: 300px;
    object-fit: cover;
  }
  &__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 5px 0;
    &--title {
    font-size: 1.5rem;//24px
    font-weight: 400;
    color: $lightbrown;
    }
    &--likes {
      display: flex;
      gap: 1em;
      &-h3 {
      font-size: 1.5rem; //24px
      font-weight: 500;
      color: $lightbrown;
      }
    }
  }
}
