@import "./variables.scss";

body {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  height: auto;
  margin: 0 100px;
}

nav {
  display: flex;
  height: 90px;
  align-items: center;
}
.logo {
  margin-left: 0;
}
// #main {

// }

.header-photographer {
  background-color: $main-bg-color;
  height: 313px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  &__section-info {
    display: flex;
    flex-direction: column;
    gap: 1.2em;
    &--title {
      color: $lightbrown;
      font-size: 4em; //64px
      font-weight: 400;
    }
    &--location {
      font-size: 1.5em; //was 24px
      color: $darkbrown;
    }
    &--tagline {
      font-size: 1.125em; //was 18px
      color: black;
    }
  }
}

.brown-button {
  font-size: 1.15em; //18px
  font-weight: 700;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  background-color: $darkbrown;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  &:hover,
  &:focus {
    background-color: $modal-bg-color;
    color: black;
  &.submit{
    border: 2px solid white;
  }
  }
}

//photographer portrait
.article__img--rounded {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  background: transparent;
  overflow: clip;
  display: flex;
  justify-content: center;
  position: relative;
  box-sizing: content-box;
}
.article__img {
  height: 358px;
  position: absolute;
  top: -50px;
  object-fit: contain;
  &--square {
    height: 200px;
    position: absolute;
    top: 0px;
    object-fit: contain;
  }
}

//filters
.section-filter{
  display: flex;
  flex-direction: row;
  margin-top: 1em;
}

#filter-opened, #filter-closed {
height: 9.88px;
width: 16px;
position: absolute;
top: 30px;
right: 15px;
}

#filter-opened {
  display: none;
}

.filter-select {
  cursor: pointer;
  position: relative;
  background-color: $darkbrown;
  color: white;
  width: 170px;
  height: 70px;
  display: flex;
  align-items: center;
  font-size: 1.125em;
  font-weight: 900;
  // padding: 8px 12px;
  border-radius: 5px;
    &:hover, &:focus{
    border-radius: 5px;
    color: black;
    background-color: $modal-bg-color;
    outline: none;
    outline-offset: 0px;
  }
}

.filter-label {
  display: flex;
  align-items: center;
  margin-right: 10px;
  font-size: 1.125em;//18px
  font-weight: 700;
 
}

.filter-option-list {
  display: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: white;
  background-color: $darkbrown;
  height: 210px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  width: 170px;
}

.filter-interline{
  margin:0 10px;
  height: 1px;
  width: 150px;
  background-color: white;
}
.filter-option-list li {
  width: 170px;
  height: 70px;
  display: flex;
  align-items: center;
  padding: 8px 20px;
  cursor: pointer;
  &:hover, &:focus{
    color: black;
    background-color: $modal-bg-color;
    outline: none;
    outline-offset: 0px;
    border-radius: 0px;
  }
}

#filter {
  width: 170px;
  height: 70px;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 8px 20px;
    &:hover, &:focus{
      color: black;
    border-radius: 5px;
    background-color: $modal-bg-color;
    // outline: none;
    // outline-offset: 0px;
    }
}

//media
.section-medias {
  // display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  column-gap: 9vw;
  row-gap: 2vh;
  padding-top: 1rem;
  padding-bottom: 66px;
}
.article-media {
  display: flex;
  flex-direction: column;
  gap: 0;
  width: 350px;
  height: 351px;
  border-radius: 16px;
  box-sizing: border-box;
  // white-space: nowrap;
  overflow: hidden;
  &__img,
  &__vid {
    width: 350px;
    height: 300px;
    object-fit: cover;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 5px 0;
    &--title {
      padding: 5px;
      margin: 0;
      font-size: 1.35em; //reduced
      font-weight: 400; //was 400 adjusted for contrast purpose
      color: $darkbrown; //changed from $lightbrown for contrast purpose
    }
    &--likes {
      display: flex;
      cursor: pointer;
      gap: 1em;
      padding-right: 9px;
      &-h3 {
        font-size: 1.5rem; //24px
        font-weight: 500;
        color: $darkbrown; //changed from $lightbrown for contrast purpose
      }
    }
  }
}

//price

.section-price {
  position: fixed;
  right: 100px;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 376px;
  height: 50px;
  border-radius: 5px 5px 0 0;
  background-color: $modal-bg-color;
  padding: 8px 16px;
  font-size: 1.25em;
  font-weight: 500;
  align-items: center;
  box-sizing: border-box;
  &__content--likes {
    display: flex;
    gap: 0.5em;
  }
}
