@import "./variables.scss";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*.......Accessibility......*/

/* Hide elements visually but keep them accessible to screen readers */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

:focus {
  outline: 5px solid $focus-outline;
  outline-offset: 4px;
  border-radius: 15px;
  background-color: $main-bg-color;
}

/*.......general......*/

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
  padding: 0;
  font-style: normal;
}

a{
  text-decoration: none;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

.header-title {
  font-size: 2.25em;
  font-weight: 400;
  color: $darkbrown;
  margin-right: 100px;
}

.logo {
  height: 50px;
  margin-left: 100px;
}

#main {
  margin-bottom: 70px;
}

/*.......Photographer section......*/
.photographer-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
}

.photographer-section article a {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  .article__title {
    color: $lightbrown;
    font-size: 2.25em; //36px
    font-weight: 400;
    margin-top: 16px;
    margin-bottom: 5px;
    white-space: nowrap;
  }
  .article__img--rounded {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    background: transparent;
    overflow: clip;
    display: flex;
    justify-content: center;
    position: relative;
    box-sizing: content-box;
  }
  .article__img {
    height: 358px;
    position: absolute;
    top: -50px;
    object-fit: contain;
    &--square {
      height: 200px;
      position: absolute;
      top: 0px;
      object-fit: contain;
    }
  }
}

.article__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  &--location {
    font-size: 1.06em; //15px was 13px, increased for accessibility
    color: $darkbrown;
    margin: 0;
  }
  &--tagline {
    font-size: 0.75em; //12px was 10px, increased for accessibility
    color: black;
    margin: 0;
  }
  &--price {
    font-size: 0.69em; //11 was 9px, increased for accessibility
    color: $grey;
    margin: 0;
  }
}

/****** page photographer ***********/
@import "photographer.scss";

/****** modal ***********/
@import "modal.scss";

/****** lightbox ***********/
@import "lightbox.scss";
